body {
	color: #545454;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.7rem;
}

.h3 {
	margin-top: 40px;
	font-weight: 300;
	line-height: 1.6;
}

h1 {
	margin-bottom: 40px;
	margin-top: 0;
}

.content p {
	line-height: 1.8;
}

a:hover {
	text-decoration: none;
}

.hero-blue {
	background-color: #009AEE;
}

.hero-blue2 {
	background-color: #008af5;
}

.hero-gray {
	background-color: #F1F2F5;
}

.hero {
	padding: 80px 20px;
}

.hero .form-control {
	margin-bottom: 20px;
}

.highlight-title {
	background: linear-gradient(to right, #00c0f0 0, #3d2d8e 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #E23B4A;
	font-size: 48px;
	font-weight: 700;
	margin-top: 0;
}

.news {
    background: #F1F2F5;
    padding: 60px 0;
}

@media (min-width: 992px) {
    .news {
        padding: 100px 0 40px;
    }
}
.news .highlight-title {
    margin: 0 0 10px;
}
.news .highlight-description {
    margin-bottom: 60px;
}
.news-item-container {
    height: 200px;
}
.news-item {
    background: white;
    border-radius: 8px;
    display: block;
    padding: 16px 24px;
    transition: all .3s ease-in-out;
    height: 180px;
    overflow: hidden;
    position: relative;
}
@media (min-width: 992px) {
    .news-item {
        height: 180px;
    }
    .news-item:hover {
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
        height: 220px;
        margin-top: -17px;
        margin-bottom: 0px;
    }
    .news-item:hover .news-item-more {
        bottom: 15px;
    }
}
.news-item:before {
    content: " ";
    height: 24px;
    width: calc(100% + 48px);
    margin: -16px 0 0 -24px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
}
.news-item-first:before {
    background: linear-gradient(to right, #6390E6 0, #80ACFF 50%);
}
.news-item-middle:before {
    background: linear-gradient(to right, #81D580 0, #9EE79E 50%);
}
.news-item-last:before {
    background: linear-gradient(to right, #d868d4 0, #c991e2 50%);
}
.news-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #344C67;
    font-size: 24px;
    font-weight: 600;
    max-height: 52px;
}
.news-item-info {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(52, 76, 103, 0.7);
    font-size: 16px;
    height: 22px;
}
.news-item-description {
    color: #344C67;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: ;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    font-size: 18px;
    max-height: 74px;
}
.news-item-more {
    transition: bottom .3s ease-in-out;
    color: #4887FF;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    position: absolute;
    bottom: 15px;
}
@media (min-width: 992px) {
    .news-item-more {
        bottom: -20px;
    }
}
.news-item-more-icon {
    position: relative;
    top: 8px;
    left: 3px;
}

.footer {
    background: #009AEE;
    font-size: 18px;
    padding: 70px 0;
}
@media (min-width: 992px) {
    .footer {
        padding: 70px 0 35px;
    }
}
.footer .footer-nav-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .footer .footer-nav-container {
        width: 480px;
    }
}
@media (min-width: 992px) {
    .footer .footer-nav-container {
        display: block;
        margin: 0;
        width: auto;
    }
}
.footer .footer-nav {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer .footer-nav li {
    color: white;
    margin-bottom: 5px;
}
.footer .footer-nav li:first-child {
    margin-bottom: 10px;
}
.footer .footer-nav a {
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}
.footer .footer-nav a:hover {
    border: 0;
    color: white;
}
@media (min-width: 992px) {
    .footer .footer-nav {
        margin: 0 45px 0 0;
    }
}
.footer .footer-social {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 40px 0 30px;
}
.footer .footer-social li {
    display: inline-block;
    padding: 0 10px;
}
.footer .footer-social a,
.footer .footer-social a:focus,
.footer .footer-social a:hover {
    border: 0;
}
.footer .footer-social svg {
    fill: rgba(255, 255, 255, 0.7);
    height: 20px;
    transition: all 0.3s ease-in-out;
    width: 20px;
}
.footer .footer-social svg:hover {
    fill: white;
}
@media (min-width: 992px) {
    .footer .footer-social {
        text-align: right;
        margin: 0;
    }
    .footer .footer-social li:last-child {
        padding-right: 0;
    }
}
.footer .footer-copyright,
.footer .footer-credits {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 10px 0 0;
}
.footer .footer-copyright a,
.footer .footer-credits a {
    border: 0;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
    font-weight: 400;
}
.footer .footer-copyright a:hover,
.footer .footer-credits a:hover {
    border: 0;
    color: white;
}
@media (min-width: 992px) {
    .footer .footer-copyright,
    .footer .footer-credits {
        margin: 75px 0 0;
    }
}
@media (min-width: 992px) {
    .footer .footer-copyright {
        text-align: left;
    }
}
@media (min-width: 992px) {
    .footer .footer-credits {
        text-align: right;
    }
}

.project-item-container {
  height: 255px; }

.project-item {
  height: 225px;
  padding: 32px 32px 18px 32px;
  position: relative;
  background: white;
  border-radius: 8px;
  display: block;
  width: 100%;
  transition: all .3s ease-in-out;
  overflow: hidden; }
  @media (min-width: 992px) {
    .project-item {
      height: 225px;
      transform: translateY(-10px);
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1); }
      .project-item:hover .project-item-more {
        bottom: 20px; } }

.project-item-title {
  color: #344C67;
  font-size: 24px;
  font-weight: 600; }

.project-item-info {
  color: rgba(52, 76, 103, 0.7);
  font-size: 16px; }

.project-item-description {
  color: #344C67;
  font-size: 18px; }

.project-item-more {
  transition: bottom .3s ease-in-out;
  color: #4887FF;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  position: absolute;
  bottom: 10px; }
  @media (min-width: 992px) {
    .project-item-more {
      bottom: -10px; } }

.project-item-more-icon {
  position: relative;
  top: 8px;
  left: 3px; }

.project-item-image {
  height: 72px;
  max-width: 72px; }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #009AEE;
	border-color: #009AEE;
}